body {
	background: #eee;
}

.clear {
	clear: both;
}

div.panel {
	padding: 15px;
}

/* SIDEBAR */

div.sidebar-profile, div.sidebar-category {
	margin-bottom: 20px;
}

div.sidebar-profile > img {
	width: 40px;
	margin-right: 10px;
}

div.sidebar-profile > a {
	text-decoration: none;
}

sidebar-category li {
	margin-bottom: 15px;
}

div.sidebar-category li a{
	text-decoration: none;
}

/* FEED */
div.feed-item img {
	display:block;
}


.feed-item-author {
	display: inline-block;
	margin-top: -10px;
	padding-bottom: 15px;
	font-style: italic;
}

div.feed-item h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* BLOG */
a.featured-blog {
	text-decoration: none;
	color: #000;
	font-size: 1.5em;
	margin-top: 20px;
	position: relative;
	float: left;
}

a.featured-blog img {
	max-width: 80%;
	min-width: 80%;
	min-height: 150px;
}

a.featured-blog .image-container {
	height: 150px;
	overflow: hidden;
}

a.featured-blog:hover, a.featured-blog:focus {
	color: #428bca;
}

/* Q&A */
a.question-title {
	font-weight: bold;
}

/* CREATIVITY */
#creativity-pane .thumbnail .image-container {
	max-height: 120px;
	overflow: hidden;
}
div#campaign-page ul.nav-pills {
	font-size: 1.1em;
	font-weight: bolder;
}

div#campaign-page ul.nav-pills a {
	color: #666;
}

div#campaign-page ul.nav-pills {
	margin-bottom: 10px;
}

div#campaign-page ul.nav-pills a:hover {
	color: #333;
}

div#campaign-page ul.nav-pills li.active a{
	background-color: transparent;
	border-bottom: 3px solid #428bca;
	color: #333;	
}

div#campaign-page table.meta {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 18px;
}

div#campaign-page table.meta td {
	padding-right: 20px;
}

div#campaign-page span.meta-sub {
	font-size: 0.5em;
}

.text-big {
	font-weight: 500;
	font-size: 2em;
}

div#petition-box .panel-heading{
	background: #5CB85C;
}

div#petition-box .panel-heading h3{
	color: #fff;
}


#modal-img-enlarge .modal-body img {
	max-width: 100%;
}

.campaign-feed img {
	max-width: 100%;
}

textarea#campaign-status-input {
	width: 100%;
	border: 0;
}


.m-0 { margin: 0;}
.m-tb-0 { margin-top: 0; margin-bottom: 0;}
.m-lr-0 { margin-left: 0; margin-bottom: 0;}
.m-t-0 { margin-top: 5px;}
.m-r-0 { margin-right: 5px;}
.m-b-0 { margin-bottom: 5px;}
.m-l-0 { margin-left: 5px;}

.m-5 { margin: 5;}
.m-tb-5 { margin-top: 5; margin-bottom: 5;}
.m-lr-5 { margin-left: 5; margin-bottom: 5;}
.m-t-5 { margin-top: 5px;}
.m-r-5 { margin-right: 5px;}
.m-b-5 { margin-bottom: 5px;}
.m-l-5 { margin-left: 5px;}

.m-10 { margin: 10;}
.m-tb-10 { margin-top: 10; margin-bottom: 10;}
.m-lr-10 { margin-left: 10; margin-bottom: 10;}
.m-t-10 { margin-top: 10px;}
.m-r-10 { margin-right: 10px;}
.m-b-10 { margin-bottom: 10px;}
.m-l-10 { margin-left: 10px;}

.m-15 { margin: 15;}
.m-tb-15 { margin-top: 15; margin-bottom: 15;}
.m-lr-15 { margin-left:15; margin-bottom: 15;}
.m-t-15 { margin-top: 15px;}
.m-r-15 { margin-right: 15px;}
.m-b-15 { margin-bottom: 15px;}
.m-l-15 { margin-left: 15px;}

.m-20 { margin: 20;}
.m-tb-20 { margin-top: 20; margin-bottom: 20;}
.m-lr-20 { margin-left: 20; margin-bottom: 20;}
.m-t-20 { margin-top: 20px;}
.m-r-20 { margin-right: 20px;}
.m-b-20 { margin-bottom: 20px;}
.m-l-20 { margin-left: 20px;}

.m-25 { margin: 25;}
.m-tb-25 { margin-top: 25; margin-bottom: 25;}
.m-lr-25 { margin-left: 25; margin-bottom: 25;}
.m-t-25 { margin-top: 25px;}
.m-r-25 { margin-bright: 25px;}
.m-b-25 { margin-bottom: 25px;}
.m-l-25 { margin-left: 25px;}

.m-30 { margin: 30;}
.m-tb-30 { margin-top: 30; margin-bottom: 30;}
.m-lr-30 { margin-left: 30; margin-bottom: 30;}
.m-t-30 { margin-top: 30px;}
.m-r-30 { margin-right: 30px;}
.m-b-30 { margin-bottom: 30px;}
.m-l-30 { margin-left: 30px;}
